export SITE='https://kwmawin.github.io/'
export APP_URL='http://127.0.0.1'
export APP_PORT=8000
export INSTAGRAM_APP_ID=
export INSTAGRAM_APP_SECRET=
export DJANGO_SECRET_KEY=
# Data from get_auto_code.bash
export CODE=
# Data from get_short_lived_token.bash
export ACCESS_TOKEN=
export USER_ID=
# Data from app_get_token.bash
export APP_USER_ID=
